* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: beige;
}
a {
  text-decoration: none;
  color: black;
}
li {
  text-decoration: none;
  list-style: none;
}
.logo {
  border-radius: 100px;
  width: 50px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.loginmodal,
.registermodal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.formlogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 450px;
}

.formlogin label {
  align-self: flex-start;
  padding: 15px;
  color: black;
}
.formlogin p {
  margin-top: 20px;
}

.formlogin input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: 0;
  outline: 0;
  border-width: 0 0 1px;
  /* border-bottom: 1px black solid; */
}

.formloginbutton {
  margin-top: 15px;
  border-radius: 15px;
  padding: 5px;
  background-color: beige;
}

#loginbutton {
  margin-right: 20px;
}

#registerbutton {
  margin-right: 20px;
}

.buttons {
  display: flex;
  justify-content: right;
}
button:hover,
#registerbutton:hover {
  background-color: #fa8072;
}
.hidden {
  display: none;
}
.imgArdilla1 {
  width: 50%;
}
.a {
  display: flex;
  justify-content: center;
}
.libros {
  display: flex;
}
.libro {
  display: flex;
  flex-direction: column;
  background-color: #fa8072;
  border-radius: 15px;
  width: 25%;
  justify-content: center;
  padding: 15px;
  margin: 10px;
}
.libro img {
  width: 300px;
}
.titleLibro {
  margin-top: 5px;
  margin-bottom: 10px;
}
.title {
  margin: 20px;
}
.papeleraImg {
  margin-top: 10px;
  width: 50px !important;
}
